{% extends 'base.html' %}

{% block main %}

  <div class="container mt-5 bg-warning bg-opacity-25 p-4">
    <h2 class="text-center">Ninja Gold</h2>
    <div class="row"> 
      <div class="col-4">
        <form method="post" action="/gold/process_money/">
          <!-- <p>Cueva <span>🟡</span></p>
          <h6>(gana 5-10 oro)</h6> -->
          <input type="hidden" name="opcion" value="" class="mb-3">
          <button type="submit" class="btn btn-secondary">Práctica</button>
          <p>Modo práctica</p>

        </form>
      </div>  
      <div class="col-4">
        <form method="post" action="/gold/process_money/">
          <!-- <p>Cueva <span>🟡</span></p>
          <h6>(gana 5-10 oro)</h6> -->
          <input type="hidden" name="opcion" value="" class="mb-3">
          <button type="submit" class="btn btn-success">Facil</button>
          <p>Modo fácil</p>
        </form>
      </div>
      <div class="col-4">
        <form method="post" action="/gold/process_money/">
          <!-- <p>Cueva <span>🟡</span></p>
          <h6>(gana 5-10 oro)</h6> -->
          <input type="hidden" name="opcion" value="" class="mb-3">
          <button type="submit" class="btn btn-danger">Difícil</button>
          <p>Modo difícil</p>

        </form>
      </div>     
      
    </div>
  </div>
  {% endblock %}